.filter-box {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 3.5rem;
    margin-top: 2rem;

}

.filter-input {
    width: 250px;
    display: flex;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid black;
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 1.5rem;
}

.filter-input:hover,
.filter-input:focus {
    border-color: blue;
    background-color: lightgray;
}